body {
    max-width: 100%;
    font-family: serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.header1 {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 15%;
    background-color: #316DC3;
    padding: 10px;
}

.socialist {
    margin-left: 210px;
}

.socialist ul {
    margin: 0px;
    list-style: none;
}

.socialist ul li {
    display: inline-block;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    height: 25px;
}

.slog {
    margin-left: 100px;
    font-size: 14px;
}

.butt1 {
    margin-top: 0px;
    margin-left: 80px;
}
.butt1 ul{
    margin:0px;;
}

.butt1 ul li {
    display: inline-block;
    border: solid 1px rgb(12, 245, 12);
    background-color: white;
   
    font-size: 12px;
    padding: 5px;
}

.butt1 ul li a {
    text-decoration: none;
    color: rgb(9, 95, 9);
}

.table1 {
    width: 100%;
    background-color: rgb(22, 63, 196);
}

.hood2 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    width: 100%;
    /* height: 7%; */
    background-color: white;
    
}

.log1 {
    margin-left: 270px;
}

.liststyle2 {
    margin-left: 205px;
    /* padding: 0px; */
    background-color: white;
}

.liststyle2 ul li {
    display: inline-block;
    /* height: 30px; */
    padding: 5px 10px 5px 10px;
    
}

.liststyle2 ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    height: 25px;
    text-align: center;
    color: #666666;
    font-family: sans-serif;

    
}

.liststyle2 ul li a:hover {
    background-color: #316DC3;
    color: white;
    border-radius: 25px;
    padding: 5px 10px 0px 10px;
}

.slid2 {
    margin-top: 10px;
    width: 100%;
}

.slid2 p {
    margin-left: 220px;
    background-color: #316DC3;
    color: white;
    width: 70%;
}

.heading1 {
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

.heading3 {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#int {
    display: inline-block;
    color: rgb(1, 101, 178);
    background-color: white;
}

#duct {
    /* position: relative; */
    right: 3px;
    display: inline-block;
    background-color: white;
    color:  rgb(136, 199, 46);
    
}

.log {
    width: 100%;
    height: 80px;
    text-align: center;
}

#hrr {
    display: inline-block;
    width: 35px;
    height: 50px;
    margin-left: 10px;
}

.para {
    width: 100%;
    margin-top: 0px;
    color: #666666;
    font-family: sans-serif;
    line-height: 1.7em;
}

.para>p {
    width: 70%;
    text-align: justify;
    margin-left: 240px;
    padding-bottom: 90px;
}

.table1 {
    width: 100%;
    height: 30%;
    background-color: rgb(38, 85, 232);
    padding-top: 90px;
    padding-bottom: 90px;
}

.row1 {
    text-align: center;
    
    font-size: 1.1em;
    color: white;
}

.rowz {
    text-align: center;
    height: 50px;
    font-size: 45px;
    color: white;
}

.heading4 {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#into1 {
    display: inline-block;
    color: rgb(1, 101, 178);
    background-color: white;
}

#puck {
    
    left: 5px;
    display: inline-block;
    background-color: white;
    color: rgb(136, 199, 46);
}

.log {
    width: 100%;
    height: 80px;
    text-align: center;
}

#hrrr {
    display: inline-block;
    width: 35px;
    height: 50px;
    margin-left: 10px;
}

.work {
    width: 100%;
    height: 460px;
    text-align: center;
    
    
}

.work2 {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    

}

.work3 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.d1 {
    width: 350px;
    height: 160px;
    background-color:white;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
     box-shadow: 5px 5px 10px #d1cece;
     color:#316DC3;
}
.d2 {
    width: 350px;
    height: 160px;
    display: inline-block;
    background-color:white;
    margin-left: 30px;
    padding: 20px 0px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
    box-shadow: 5px 5px 10px #d1cece;
    color:#316DC3;
}

.d3 {
    width: 350px;
    height: 160px;
    background-color: white;
    display: inline-block;
    margin-left: 30px;
    padding: 20px 0px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
    box-shadow: 5px 5px 10px #d1cece;
    color:#316DC3;
}

.d4 {
    width: 350px;
    height: 160px;
    background-color: white;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    margin-right: 34px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
    box-shadow: 5px 5px 10px #d1cece;
    color:#316DC3;
}

.d5 {
    width: 350px;
    height: 160px;
    margin-right: 10px;
    background-color: white;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
    box-shadow: 5px 5px 10px #d1cece;
    color:#316DC3;
}

.d6 {
    width: 350px;
    height: 160px;
    background-color: white;
    display: inline-block;
    margin-left: 18px;
    padding: 20px 0px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #d1cece;
    box-shadow: 5px 5px 10px #d1cece;
    color:#316DC3;
}

/* MISSION AND UPCOMING PROJECTS */
.project{
    display: flex;
    flex-direction: row;
}
.project-1{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 400px;
    padding-left: 250px;
    display: inline-block;
    margin-bottom: 30px;
    

  
}
.projectheading{
    color: #316DC3;
}
.hide{
    width: 46px;
    
}
.kid{
    /* display: flex;
    flex-direction: row; */
    background-color: white;
    border: 1px solid #e6e2e2;
    margin-top: 65px;
    padding-left: 10px;
    width: 250px;
    display: inline-block;
}
.home-1{
    /* display: flex;
    flex-direction: row; */
    background-color: whitesmoke;
    border: 1px solid #e6e2e2;
    margin-left: 60px;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 250px;
    display: inline-block;
}

.comp{
    /* display: flex;
    flex-direction: row; */
    background-color: white;
    border: 1px solid #e6e2e2;
    width: 250px;
    padding-left: 10px;
    display: inline-block;
}

.people{
    /* display: flex;
    flex-direction: row; */
    background-color:white;
    border: 1px solid #e6e2e2;
    margin-left: 60px;
    width: 250px;
    padding-left: 10px;
    display: inline-block;
}
.housese{
    display: inline-block;
    padding-left: 20px;
    

}

.missionmain-2{
    display: flex;
    flex-direction: row;
    display: inline-block;
    width: 25%;
    height: 400px;
       
}


/* For Image Gallery */
.gall-1{
    width: 100%;
    height: 300px;
    text-align: center;
    

}
.picture-1{
    display: inline-block;
    width:221px;
    height:155px ;

    
}
.picture-1 img{
    width:220px;
    height:150px ;
}

/* Website footer  */
.footer{
    background-color: #272626;
    padding-left: 20px;
    height:320px ;
    padding-top: 40px;
margin: 0px;
display: flex;

}

.footer-1{
    width: 400px;
    height:250px ;
    display: inline-block;
}
.phone{
    margin-left: 30px;
}

.phone>ul{
    list-style: none;
margin: 0px;
padding: 0px;
}
.phone>ul>li{
    padding-bottom: 5px;
}
.fa-phone,.fa-globe,.fa-envelope {
    color: green;
}


.upward-1{
    display: inline-block;
}

.upward-2{
    display: inline-block;
    margin-left: 10px;
}


.footer-2{
    width: 350px;
    height:250px ;
    margin-left: 40px;
    display: inline-block;

}
.footertext{
    display: inline;
    color: white;
}
.footerlining{
    width: 52px;
}

.footerstyle{
    width: 350px;
    height:250px ;
    display: inline-block;
}


.liicons>ul{
    list-style: none;
    display: inline-block;
    margin:10px 0px 0px 0px;
    padding: 0px;
}
.liicons>ul>li{
    display: inline-block;
    width: 28px;
    height: 27px;
    text-align: center;
    margin-left: 5px;
    padding-top: 5px;
    border-radius: 50%;
    background-color:#316DC3 ;
    color: white;
}


.loganal{
    font-size: 12px;
    margin-left: 30px;
    padding: 0px;
}



.scrolling>a{
    position: fixed;
    bottom:10px ;
    right:30px ;


}
    







